{% extends "home.html" %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about1.css')}}">
{% endblock %}

{% block content %}
        <p id="hometext">about</p>
        <br>
        <div class="infooter">
            
            <p class="centertext">my name is Mohammad Reza aram, I'm born in 1999/3/17, I grew up in the village, I'm studying
            environmental engineering and I like coding, this is the first time that I make a website and it is my portfolio I hope
            that I can do much more and better in near future. here are some of my social media</p>
            <br>
            <br>
            <br>
            <div class="ic1">
            <span id="icon1"><a href="https://twitter.com/__Aram77__" target="_blank" ><i class="fa-brands fa-twitter fa-2xl"></i></a></span>
            
            <span id="icon2"><a href="https://www.youtube.com/channel/UC1451FjuI1HJtFuoMJf_qtA" target="_blank" ><i class="fa-brands fa-youtube fa-2xl"></i></a></span>

            <span><a href="https://github.com/Aram7717" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a></span>
            </div>
        </div>
        
{% endblock %}


