/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: url("../image2/pexels-jakub-novacek-924824.jpg") top;
    position: relative;
    
    width:100vw;
    height: 100%;
    margin: 0px 0px;
}


ul {

    background: rgba(3, 26, 200, 0.562);

    padding: 4px 5px 4px 5px;
    margin: 0px;
    /* border: 2px solid red; */
}

.libox {

    padding: 10px;
    list-style-type: none;
    display: inline-block;

}

.linkstyle {
    text-decoration: none;
    text-transform: capitalize;
    color: #c5c8cf;
    text-indent: 1.2rem;
    font-family: 'Roboto Mono',
        monospace;
    font-size: 1.1rem;
    background: #0000008b;
    padding: 4px;
    
}

.linkstyle:hover {
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid #c1c1c1;
    background-color: #651c476f;
}

#hometext {
    text-transform: capitalize;
    color: #d0dedf;
    text-indent: 1.5rem;
    font-size: 1.2rem;
    background: #30399c5d;
    margin: 0px;
    padding: 4px 0px 4px 0px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.footer8 {
    height: 100%;
    /* width: 100vw;
    

    margin: 0px 0px;
    position: relative; */
    
}


/* Contact form */
form label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 4px 0;
    color: rgba(255, 255, 255, 0.562);
    
}

form input#name,
form input#email,
form input#subject {
    width: 400px;
    background-color: rgba(3, 26, 200, 0.562);
    margin: 10px 0px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 1.1rem;
    color:#ffffff
}

form textarea#message {
    width: 500px;
    height: 100px;
    
    background-color: rgba(3, 26, 200, 0.562);
    margin: 10px 0px;
    border: 1px solid #cccccc;
   
    padding: 5px;
    font-size: 1.1rem;
    color:#ffffff
}

form input#submit {
    display: block;
   
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #d8d8d8;
    
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    background-color: #e9f4f68c;
    
    
    margin-left: 45px;
}

form input#submit:hover {
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    border: 1px solid #c1c1c1;
    background-color: #dbdbdb;
    
    
}

/* Message flashing */
.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
}

footer {
    height: 100px;

    position: relative;
    background: rgba(3, 26, 200, 0.562);
    margin-top: -100px;
    text-align: center;
}

#footertext {
    color: rgb(197, 207, 222);
    font-size:1.1rem;
}

a#externallinks {
    color: rgb(26, 142, 8);
    text-decoration: none;
}