[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camelcase = "*"
flask = "*"
mpmath = "*"
sympy = "*"
py2exe = "*"
pyinstaller = "*"
flask-wtf = "*"
email-validator = "*"
flask-mail = "*"
flask-moment = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
